html, body {
  height: 100%;
}

body {
  font-family: arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #444;
}

table {
  border-collapse: collapse;
  background-color: #0a0;
  margin: auto;
}

table img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

td {
  border: none;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}

h1 {
  color: #fff;
  text-shadow: 0 0 30px #f00, 0 0 30px #f00, 0 0 30px #f00, 0 0 30px #f00;
}

#startButton, #endButton {
  transition: transform 0.5s;
}

#startButton:hover, #endButton:hover {
  transform: scale(1.05);
}

#endDiv {
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

#startDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -106px;
}

#endeInhalt {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -97.5px;
  margin-top: -181px;
}

label, #pflaumenAdd_div {
  display: block;
  margin: 20px 0;
}

label[for="geschwindigkeit_start"] {
  margin-top: 5px;
}

#pflaumenAdd, label[for="pflaumenAdd"], #powerup, label[for="powerup"] {
  display: inline;
}

#gameSettings {
  background-color: #fff;
  border: 1px solid #444;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0px 10px 10px 10px;
  z-index: 1000;
  text-decoration: none;
  color: #444;
}

#buttonDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 120px 0 0 -93px;
  z-index: 1000;
}

img {
  display: block;
  margin: 10px auto;
}

#close {
  display: block;
  font-size: 2rem;
  text-align: right;
  padding: 0;
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #444;
}

noscript {
  border: 1px solid #444;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -288px 0 0 -250px;
  z-index: 10000;
}

#congratulation {
  position: fixed;
  top: 50%;
  margin-left: calc(50% + 120px);
  color: #fff;
  z-index: 300;
}

#pause, #sounds, #counter {
  position: fixed;
  right: 20px;
  padding: 0;
  display: none;
  border: 0;
  background-color: #fff;
}

#pause {
  top: 20px;
}

#sounds {
  top: 75px;
}

#pause img, #sounds img {
  margin: 0;
  padding: 0;
}

#counter {
  top: 120px;
  font-size: 1.5rem;
}

#counter img {
  display: inline;
  vertical-align: middle;
};
